# Environment
.env
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Xcode
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.xcuserstate
*.xcuserdata/

# Swift Package Manager
.swiftpm/
**/.build/

# CocoaPods (if ever used)
Pods/

# Carthage
Carthage/Build/
spx_client_id.txt
